*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #010202;
}

.glavnaya {
	background-image: url(/img/C++PARAmain.png);
	background-size: cover;
	height: 113vh;
	width: 100%;
	background-position: center;
}

.btn{
	background-color:#A7C6E4;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
	background-color: #CAA6CD;
	color: #fff;
}

.back-button {
	margin-top: 50px;
	margin-left: 1200px;
}

.content {
	position: absolute;
	text-align: left;
	top: 60%;
	left: 47%;
	transform: translateY(-50%);
}

.content h1{
	color: #7EFF86;
	margin: 20px 0px 20px;
	font-size: 75px;
}

.introduction-part {
	margin-left: 220px;
	margin-top: 400px;
}

.introduction-part p {
	color: #fff;
	font-size: 25px;
	margin-top: 10px;
}

.content-text h3{
	color: #7EFF86;
	font-size: 35px;
	margin-top: 100px;
	margin-left: 220px;
}

/* links types of operators */
.operators-type a {
	color: #fff;
	font-size: 20px;
	text-decoration: underline #fff;
}

.operators-type a:hover {
	color: #7EFF86;
	font-size: 20px;
	text-decoration: underline #7EFF86;
}

.operators-type {
	margin-top: 20px;
}

.type-1 {
	color: #fff;
	font-size: 20px;
	margin-top: 25px;
	margin-left: 220px;
}

.type-1 p {
	margin-top: 20px;
}

.type-1 h3 {
	color: #7EFF86
}

.type-2 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-2 p {
	margin-top: 20px;
}

.type-2 h3 {
	color: #7EFF86
}

.type-3 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-3 p {
	margin-top: 20px;
}

.type-3 h3 {
	color: #7EFF86
}

.type-4 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-4 p {
	margin-top: 20px;
}

.type-4 h3 {
	color: #7EFF86
}

.type-5 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-5 p {
	margin-top: 20px;
}

.type-5 h3 {
	color: #7EFF86
}

.type-6 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-6 p {
	margin-top: 20px;
}

.type-6 h3 {
	color: #7EFF86
}

.type-7 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-7 p {
	margin-top: 20px;
}

.type-7 h3 {
	color: #7EFF86
}

.type-8 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-8 p {
	margin-top: 20px;
}

.type-8 h3 {
	color: #7EFF86
}

.type-9 {
	color: #fff;
	font-size: 20px;
	margin-top: 70px;
	margin-left: 220px;
}

.type-9 p {
	margin-top: 20px;
}

.type-9 h3 {
	color: #7EFF86
}

/* FOOTER */
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #7b7b7b;
	margin-top: 6300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: #fff;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: #fff;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #fff;
	border-radius: 50%;
	margin: 22px 10px;
	color: #422a57;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#fff;
	bottom: 35px;
	font-size: 14px; 
}
/* FOOTER END */